body {
	margin: 0;
	font-family: 'NotoSansKR', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
}

.App {
	display: flex;
	height: 100vh;
	background-color: #f7f8fa;
}
